.vs/
anitadev/Saved/Telemetry/Telemetry.json
anitadev/Saved/Logs/
/anitadev/Saved/Logs
anitadev/Saved/Logs/anitadev.log
*.log
/anitadev/Intermediate/Build
/anitadev/Binaries/Win64
/anitadev/Saved/Cooked
/anitadev/Saved
